
body {
    background-image: url(../img/BackgroundColorPixel.png);
    background-repeat: repeat;
    /*background-color: #FDC240;*/
    min-width: 1340px;
}

.settings-icon{
    position: fixed;
    top: 20px;
    right: 20px;
    color: white;
    text-shadow: 2px 2px #00000080;
    cursor: pointer;
}


.settings-screen{
    position: fixed;
    display: none;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005B;
}

.settings-screen .card{
    display: block;
    width: 400px;
    height: 400px;
    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    margin: -200px 0 0 -200px;
    background-color: white;
}

.settings-screen .card .card-content .close-settings{
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffab40;
    text-shadow: 2px 1px#ffab4040;
    cursor: pointer;
}


/*.settings-screen .card.loader .card-show,*/
.settings-screen .card .preloader-container{
    display:none;
}

.settings-screen .card.loader .preloader-container{
    display:block;
}

.settings-screen .card .preloader-container{
    background-color: #ffffffe3;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

.settings-screen .card .preloader-wrapper{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    display: block;
    top: calc(200px - 32px);
    left: calc(200px - 32px);
    z-index: 10;
}

.settings-screen .card .card-title{
    border-bottom: 1px solid rgba(160,160,160,0.2);
    padding: 24px 24px 10px 24px;
}

.settings-screen .card .card-action {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 48px);
}

.settings-screen .card .card-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
}

.settings-screen .card .settings-form {
    padding: 0px 24px;
}

.settings-screen .card .settings-form .input-field{
    margin-top: 30px;
}

.settings-screen .card .settings-form .input-field label{
    font-size: 0.9rem;
}

.settings-screen .card .range-replicas label,
.settings-screen .card .range-replicas label div{
    font-size: .9rem;
    position: relative;
    display: inline-block;
}

.settings-screen .card input[type=range] {
}

.visible.settings-screen{
    display: block;
}

.hover-mouse{
    width: fit-content;
    height: fit-content;
    position: fixed;
    pointer-events:none;
}

.hammer,
.hammer-hit{
    display: none;
    position: absolute;
    pointer-events:none;
}

.hammer{
    width: 110px;
    height: 85px;
    right: 55px;
    bottom: 42px;
}

.no-hit .hammer,
.hit .hammer-hit{
    display: block;
    position: relative;
}

.title-text {
    font-family: 'Carnival Corpse Shadow Regular', serif;
    color: #FFFFFFAA;
    font-size: 70px;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px #00000028;
}

.all-moles {
    font-family: 'Carnival Corpse Regular', serif;
    margin-top: 150px;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.resized-mole,
.no-mole{
    display: inline-block;
    height: 238px;
    position: relative;
    margin-top: -80px;
    width: 115px;
}


.a-mole-container {
    position: absolute;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
}

.a-mole-container div {
    position: absolute;
}

.ready-mole .mole {
    margin-top: 0;
}

.mole {
    margin-top: 270px;
    margin-left: 16px;
    z-index: 2;
    transition: all 1s;
}

.hole {
    margin-top: 270px;
    z-index: 1;
}

.below-hole {
    margin-top: 320px;
    z-index: 3;
}

.ready-mole .text .hash-indicator {
    color: lightgreen;
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    /*-ms-animation: color_change 1s infinite alternate;*/
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

.text {
    color: #FFFFFF60;
    text-align: center;
    font-size: 100px;
    margin-top: 400px;
    z-index: 4;
    width: 383px;
}

.text div {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

.text .unready-indicator,
.text .dead-indicator,
.text .terminating-indicator{
    display: none;
    font-size: 80px;
}

.unready-mole .text div.unready-indicator,
.dead-mole .text div.dead-indicator,
.terminating-mole .text div.terminating-indicator{
    display: block;
}


@-webkit-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@-moz-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@-ms-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@-o-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}
    