
body {
    background-color: #FDC240;
    /*background-color: #FDC24060;*/
    font-family: 'Carnival Corpse Regular', serif;
    min-width: 1340px;
}

.title-text {
    font-family: 'Carnival Corpse Shadow Regular', serif;
    color: #FFFFFFAA;
    font-size: 70px;
    text-align: center;
    width: 100%;
}

.all-moles {
    margin-top: 150px;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.resized-mole,
.no-mole{
    display: inline-block;
    height: 238px;
    position: relative;
    margin-top: -80px;
    width: 115px;
}


.a-mole-container {
    position: absolute;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3);
}

.a-mole-container div {
    position: absolute;
}

.ready-mole .mole {
    margin-top: 0;
}

.mole {
    margin-top: 270px;
    margin-left: 16px;
    z-index: 2;
    transition: all 1s;
}

.hole {
    margin-top: 270px;
    z-index: 1;
}

.below-hole {
    margin-top: 320px;
    z-index: 3;
}

.ready-mole .text {
    color: lightgreen;
    -webkit-animation: color_change 1s infinite alternate;
    -moz-animation: color_change 1s infinite alternate;
    /*-ms-animation: color_change 1s infinite alternate;*/
    -o-animation: color_change 1s infinite alternate;
    animation: color_change 1s infinite alternate;
}

.text {
    color: #FFFFFF60;
    text-align: center;
    font-size: 60px;
    margin-top: 400px;
    z-index: 4;
    width: 383px;
}

.text div {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
}

.text div.unready-indicator {
    display: none;
}

.unready-mole .text div.unready-indicator {
    display: block;
}


@-webkit-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@-moz-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@-ms-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@-o-keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}

@keyframes color_change {
    from {
        color: cornflowerblue;
    }
    to {
        color: yellow;
    }
}
    